.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#remember{
    display: flex;
    flex-direction: row;
    text-align: left;
}
#email{
    margin-bottom: 1vh;
}
#enviar{
    color: white;
    background-color: green;
}