.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#email{
    margin-bottom: 1vh;
}
#user{
    margin-bottom: 1vh;
}
#password{
    margin-bottom: 1vh;
}
#repassword{
    margin-bottom: 2vh;
}
#reset{
    color: white;
    background-color: green;
}
#enviar{
    color: white;
    background-color: green;
}