.tamaño{
    font-size: 100px;
}
.foto{
    text-align: center;
}
.foto img{
    border-radius: 50%;
}
.boton-perfil{
    color: white;
    background-color: green;
}
@media (min-width: 768px) {
    .info-todo{
        display: flex;
        justify-content: center;
    }
    .info-perfil{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: center;
        width: 30%;
    }
}