.pub{
    display: flex;
    flex-direction: row;
    margin-top: 3vh;
    margin-bottom: 24vh;
}
.imagen{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    margin-left: 10vh;
    margin-right: 6vh;
}
.imagen img{
    width: 70vh;
}
.datos{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.talle{
    margin-top: 10vh;
}