<!DOCTYPE html>
<html lang="en">

    <%-include('./partials/head.ejs')%>
<body class="body">
    
    <%-include('./partials/header.ejs')%>

    <h1>Acerca de ..</h1>
    <h2>UrbanSteps</h2>
<p>Todo comenzó con una pasión compartida: las zapatillas. Desde pequeños, mi hermano y yo siempre nos sentimos atraídos por el mundo de los sneakers.</p>
<p>Nos pasábamos buscando horas nuevos modelos, investigando tendencias y soñando con tener una colección única. A medida que crecíamos, esa afición se fue convirtiendo en algo serio.</p>
<p>En Argentina, siempre sentimos que la variedad de zapatillas era limitada, y que muchos modelos que nos emocionaban no llegaban a nuestro país. </p>
<p>Fue entonces cuando decidimos dar un paso más y hacer algo al respecto. Empezamos a traer zapatillas de Estados Unidos, con la intención de ofrecer a nuestra gente las marcas y modelos que no se seguirían aquí.</p>
<p>Así nació nuestra tienda: una propuesta para los verdaderos amantes de las zapatillas que buscan algo diferente, algo único. No solo nos apasiona ofrecer productos de calidad, sino también ser el puente que conecta el mundo de las zapatillas internacionales con el mercado local. Cada par que traemos es una pieza seleccionada con cuidado y pensando en la necesidad de nuestros clientes.</p>
<p>Nuestra marca no solo refleja nuestro amor por las zapatillas, sino también el vínculo que compartimos como hermanos. A través de cada par de zapatillas que ofrecemos, transmitimos esa pasión y cercanía que nos une.</p>
<p>Seguimos con la misma energía y dedicación que nos impulsó a empezar</p>
    <h2>Nosotros</h2>
<h3>Luis Curzi</h3>:
<p>Soy un chico creativo con una gran pasión por las zapatillas y la tecnología.</p> 
<p>Siempre he estado fascinado por cómo el diseño y la innovación pueden combinarse en un par de zapatillas.</p> 
<p>Esta pasión me llevó a emprender un proyecto propio: crear una página web dedicada a ofrecer lo mejor en zapatillas, con un toque personal y único. </p>
<p>>Mi objetivo es compartir mi amor por este mundo y ofrecer una experiencia online fácil, dinámica y llena de estilo. </p>
<h3>Lucas Curzi</h3> Soy una persona apasionada y competitiva, siempre buscando superarme en todo lo que hago. 
<p>Mi amor por la tecnología me lleva a explorar constantemente nuevas formas de innovar, ya sea en el mundo de los juegos o en el desarrollo de páginas web.</p>
<p>Me encanta el desafío de crear algo desde cero y ver cómo cobra vida. Cada proyecto es una oportunidad para aplicar mi creatividad y alcanzar nuevas metas.</p>
        <%-include('./partials/script.ejs')%>
    </body>
</html>