<!DOCTYPE html>
<html lang="en">

<%-include('./partials/head.ejs')%>


<body id="body">
    
    <%-include('./partials/header.ejs')%>
    
    <main>
        <h1>Pagina no encontrada</h1>
        <p>Lo sentimos, la pagina en la que intenta acceder no existe</p>
    </main>
</body>

</html>