<!DOCTYPE html>
<html lang="en">
    <%-include('./partials/head.ejs')%>
<body class="body">
    <%-include('./partials/header.ejs')%>
<p>¿Cómo saber mi talle de calzado?</p>
<p>Los talles en nuestra página están expresados en medidas argentinas.</p>
<p>Si posicionas el cursor del mouse sobre el talle, se abrirá un recuadro</p>
<p>donde podrás corroborar la medida en UK/US/CM (centímetros de plantilla). </p>
<p>Podes además visualizar la guía de talles completa disponible en cada publicación.</p>

<p>Para saber la medida de tu pie y encontrar el talle que corresponde,</p> 
<p>medirlo desde la punta del pulgar hasta la mitad de la parte de atrás del talón.</p>
<img style="width: 100%; height: auto;" src="../assets/img/medidaCalzado.webp" alt="">

    <%-include('./partials/script.ejs')%>
</body>
</html>