<!DOCTYPE html>
<html lang="en">

<%-include('./partials/head.ejs')%>


<body class="body">
    
    <%-include('./partials/header.ejs')%>
    
    <main>
        <div class="slider">
            <div class="slide-track">
                <div class="slide">
                    <img src="../assets/img/adidas.png" alt="adidas">
                </div>
                <div class="slide">
                    <img src="../assets/img/nike.png" alt="nike">
                </div>
                <div class="slide">
                    <img src="../assets/img/jordan.png" alt="jordan">
                </div>
                <div class="slide">
                    <img src="../assets/img/vans.png" alt="vans">
                </div>
                <div class="slide">
                    <img src="../assets/img/adidas.png" alt="adidas">
                </div>
                <div class="slide">
                    <img src="../assets/img/nike.png" alt="nike">
                </div>
                <div class="slide">
                    <img src="../assets/img/jordan.png" alt="jordan">
                </div>
                <div class="slide">
                    <img src="../assets/img/vans.png" alt="vans">
                </div>
            </div>
        </div>
        <section>
            <h2>ARTICULOS</h1>
            <article class="publi">
                <img src="../assets/zapatillas/Adidas/Zapatilla Superstar.avif" alt="">
                <h4>Adidas Superstar</h4>
                <h5>Genero: Unisex</h5>
            </article>
            <article class="publi">
                <img src="../assets/zapatillas/Jordan/Air Jordan 1 Low hombre.webp" alt="">
                <h4>Air Jordan 1 Low </h4>
                <h5>Genero: Hombre</h5>
            </article>
            <article class="publi">
                <img src="../assets/zapatillas/Nike/ZAPATILLAS NIKE DUNK HIGH DE MUJER.webp" alt="">
                <h4>NIKE DUNK HIGH</h4>
                <h5>Genero: Mujer</h5>
            </article>
            <article class="publi">
                <img src="../assets/zapatillas/Vans/ZapatillasU OLD SKOOL.jpg" alt="">
                <h4>OLD SKOOL</h4>
                <h5>Genero: Unisex</h5>
            </article>
        </section>
        <section>
            <h2>OFERTAS FIN DE MES</h2>
            <article class="publi">
                <img src="../assets/zapatillas/Jordan/Air Jordan 1 Low.webp" alt="">
                <h4>Air Jordan 1 Low</h4>
                <h5>Genero: Mujer</h5>
            </article>
            <article class="publi">
                <img src="../assets/zapatillas/Nike/ZAPATILLAS NIKE DUNK LOW RETRO SE HOMBRE.webp" alt="">
                <h4>NIKE DUNK LOW RETRO</h4>
                <h5>Genero: Hombre</h5>
            </article>
        </section>
    </main>
    <%-include('./partials/footer.ejs')%>
    <%-include('./partials/script.ejs')%>
</body>

</html>