<!DOCTYPE html>
<html lang="en">
    <%-include('./partials/head.ejs')%>

<body class="body">
    <%-include('./partials/header.ejs')%>
    <h1>Preguntas Frecuentes</h1>
    <>
<p>¿Cómo elijo la talla correcta?</p>
<p>Asegúrate de revisar nuestra guía de tallas para elegir la mejor opción. Si tienes dudas, puedes

<p>¿Puedo cambiar o devolver mis zapatillas?</p>
<p>Sí, ofrecemos cambios y devoluciones dentro de un plazo de 30 días desde la compra, siempre que el producto esté en su estado original </p>

<p>¿Cómo puedo saber si un modelo está disponible en mi talla?</p>
<p>Puedes verificar la disponibilidad de tu talla directamente en la página del producto. Si no está disponible, te ofrecemos opciones para recibir notificación</p>

<p>¿Cuál es el costo del envío?</p>
<p>El costo de envío varía según su ubicación. Ofrecemos envíos gratuitos en compras mayores por un importe determinado. Verifica las tarifas exactas al momento de realizar tu compra</p>

<p>¿Cómo hago un seguimiento de mi pedido?</p>
<p>Después de realizar tu compra, recibirás un número de seguimiento por correo electrónico para que puedas consultar el estado de tu envío en tiempo real.</p>

<p>¿Las zapatillas son originales?</p>
<p>Sí, todas nuestras zapatillas son 100% originales. Trabajamos directamente con marcas autorizadas</p>

<p>¿Puedo realizar un pedido internacional?</p>
<p>Sí, realizamos envíos a varios países. Consulta las tarifas de envío y tiempos de entrega en nuestra sección de envíos internacionales.</p>
    
<%-include('./partials/script.ejs')%>
</body>
</html>