<!DOCTYPE html>
<html lang="en">
    <%-include('./partials/head.ejs')%>
<body class="body">
    <%-include('./partials/header.ejs')%>
    <h2>Términos y Condiciones de "Urban Steps"</h2>
    <ul>

    <li>Información General </li>
    Bienvenido a Urban Steps. Al acceder y utilizar nuestra página web, aceptas los siguientes términos y condiciones. Si no estás de acuerdo con alguno de ellos, te invitamos a no utilizar nuestros servicios.
    
    <li>Productos y Disponibilidad</li>
    Los productos ofrecidos en Urban Steps están sujetos a disponibilidad. Nos reservamos el derecho de modificar o descontinuar productos en cualquier momento sin previo aviso.
    
    <li>Precios</li>
    Los precios de los productos están expresados en la moneda local y pueden cambiar sin previo aviso. Los impuestos y gastos de envío no están incluidos en el precio final hasta que se confirme el pedido.
    
    <li>Formas de Pago</li>
    Aceptamos pagos a través de tarjeta de crédito, débito, y otros métodos de pago habilitados en nuestra plataforma. Todos los pagos se procesan de forma segura.
    
    <li>Envíos y Entregas</li>
    Los tiempos de entrega varían según la ubicación. Urban Steps no se hace responsable por retrasos debido a factores ajenos, como problemas con los servicios de mensajería.
    
    <li>Devoluciones y Reembolsos</li>
    Si no estás satisfecho con tu compra, puedes devolver los productos dentro de los 30 días posteriores a la compra. Los productos deben estar en su estado original. Los gastos de envío para devoluciones son a cargo del cliente.
    
    <li>Propiedad Intelectual</li>
    Todo el contenido de esta página web, incluidos textos, imágenes, logotipos y diseños, está protegido por derechos de autor y es propiedad exclusiva de Urban Steps.
    
    <li>Limitación de Responsabilidad</li>
    Urban Steps no será responsable de ningún daño directo, indirecto o consecuente que pueda surgir del uso de la página o la compra de productos.
    
    <li>Modificaciones de los Términos</li>
    Nos reservamos el derecho de modificar estos términos en cualquier momento. Las modificaciones se publicarán en esta página y serán efectivas inmediatamente.
    
    <li>Contacto</li>
    Para cualquier duda o consulta, puedes contactarnos a través de nuestro correo electrónico: soporte@urbansteps.com.
    </ul>



    <%-include('./partials/script.ejs')%>
</body>
</html>