<header>
    <section class="header-gen">
        <div id="junto">
            <div class="header-left">
                <img src="/assets/img/LogoUSblancos.jpeg" alt="Logo de UrbanSteps" id="icono-pag">
            </div>
            <div id="header-login">
                <a href="/user/login" class="inicio-sesion espacio"><i class="fa-solid fa-arrow-right-to-bracket icon-sesion"></i></a>
                <a href="/user/register" class="inicio-sesion"><i class="fa-solid fa-user-pen"></i></a>
            </div>
        </div>
        <div class="header-right">
            <form action="">
                <input type="search" name="search" id="searchbar" placeholder="Buscar...">
            </form>
        </div>
    </section>
    <section>
        <nav>
            <ul class="nav-links" id="nav-links">
                <li><a href="#">Home</a></li>
                <li><a href="#">Hombre</a></li>
                <li><a href="#">Mujer</a></li>
                <li><a href="#">Contactanos</a></li>
            </ul>
            <div class="hamburguer" id="hamburguer">
                <i class="fa-solid fa-bars" id="burger"></i>
            </div>
        </nav>
        <script src="burger.js"></script>
    </section>
</header>