<!DOCTYPE html>
<html lang="en">

<%-include('../partials/head.ejs')%>

<body class="body">
    
    <%-include('../partials/header.ejs')%>

    <main>
        <section class="login">
            <p>Ingrese sus datos para iniciar sesion.</p>
            <form action="home.html" class="login">
                <input type="text" name="email" id="email" placeholder="Email">
                <input type="password" name="password" id="password" placeholder="Contraseña">
                <div id="remember">
                    <input type="checkbox" name="rememberme" id="rememberme">
                    <p style="margin-bottom: 0; margin-left: 2px;">Recordar mis datos</p>
                </div>
                <button type="submit" id="enviar">Iniciar sesion</button>
            </form>
            <p>Si no tienes cuenta, crea una <a href="/user/register">aqui!</a></p>
        </section>
    </main>
    <%-include('../partials/script.ejs')%>
</body>
</html>