<!DOCTYPE html>
<html lang="en">

<%-include('../partials/head.ejs')%>

<body class="body">
    
    <%-include('../partials/header.ejs')%>

    <main>
        <section class="login">
            <p>Ingrese sus datos para crear su cuenta.</p>
            <form action="home.html" class="login">
                <input type="text" name="email" id="email" placeholder="Email">
                <input type="text" name="user" id="user" placeholder="Usuario">
                <input type="password" name="password" id="password" placeholder="Contraseña">
                <input type="password" name="repassword" id="repassword" placeholder="Repetir contraseña">
                <div>
                    <button type="reset" id="reset">Reiniciar</button>
                    <button type="submit" id="enviar">Crear cuenta</button>
                </div>
            </form>
        </section>
    </main>
    <%-include('../partials/script.ejs')%>
</body>
</html>